__pycache__/
*.sqlite3
.DS_Store
django-app/bank/migrations
*.pyc
*.log
django-app/meta_files/users_data/staff_out.txt
django-app/meta_files/users_data/student_out.txt
django-app/meta_files/users_data/staff.csv
django-app/meta_files/users_data/student.csv
bankir.txt
*.history
.Rhistory
report30.html
.idea/
main/error_log.log
django-app/static/
/docker/postgres/volumes
