{% extends "bank/base.html" %}

{% block content %}
    {% load bootstrap3 %}

    <h1>Лабораторная работа</h1>


    {% if update_of %}
        <form action={% url 'bank:update_transaction' type_name=type_name update_of=update_of %} method="post">

    {% elif from_template %}
        <form action={% url 'bank:add_transaction_from_template' type_name=type_name from_template=from_template %} method="post">
    {% else %}
        <form action={% url 'bank:add_transaction' type_name=type_name %} method="post">

    {% endif %}

    {% load bootstrap3 %}

        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.forms.0.creator_username.as_hidden }}

        <div class="row">

            <div class="col-md-6 col-lg-3">
                {% bootstrap_field formset.forms.0.receiver_username_1 %}
            </div>
            <div class="col-md-6 col-lg-3">
                {% bootstrap_field formset.forms.0.value_1 %}
            </div>
            <div class="col-md-6 col-lg-3">
                {% bootstrap_field formset.forms.0.receiver_username_2 %}
            </div>
            <div class="col-md-6 col-lg-3">
                {% bootstrap_field formset.forms.0.value_2 %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field formset.forms.0.description %}
            </div>
             <div class="col-md-6">
                {% bootstrap_field formset.forms.0.date %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Начислить!" class="btn btn-default"/>
            </div>
        </div>
    </form>


{% endblock %}