{% extends "bank/base.html" %}

{% block content %}
    {% load bootstrap3 %}

    {% block header %}
    {% endblock %}



    {% if update_of %}
        <form action={% url 'bank:update_transaction' type_name=type_name update_of=update_of %} method="post">

    {% elif from_template %}
        <form action={% url 'bank:add_transaction_from_template' type_name=type_name from_template=from_template %} method="post">
    {% else %}
        <form action={% url 'bank:add_transaction' type_name=type_name %} method="post">

    {% endif %}

{% csrf_token %}
{{ formset.management_form }}

{% block before_table %}
{% endblock %}

<!-- may be reuse this form later for exam, fine, workout, lecture, and other pio list transaction types -->
<div class="row">
    {% for form in formset %}
        {% if forloop.counter in markup.starttable %}
            <div class="col-md-6">
            <h4>{{ form.student_party.value }} Отряд</h4>
            <table class="table">

            {% block headers_row %}
            {% endblock %}
        {% endif %}
    {% block regular_row %}
    {% endblock %}

    {% if forloop.counter in markup.endtable %}
        </table>
        </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        <input type="submit" value="Начислить!" class="btn btn-default"/>
    </div>
</div>
</form>

{% endblock %}