{% extends "bank/base.html" %}

{% block content %}

<h3>
    Страница отмены транзакции</h3>

<table class="table table-striped">
    <tr>

        <th>Дата</th>
        <th>Тип</th>
        <th>Сумма</th>
        <th>Получатель</th>
        <th>Статус</th>
        <th>Начисление</th>

        <th>Описание</th>


    </tr>
    {% for t in trans %}
    <tr>
        <td>{{t.creation_date}}</td>
        <td>{{t.type}}</td>

        <td>{% if t.value > 0 %}
            +
            {% endif %}
            {{t.get_value}}@
        </td>
        <td>{{t.recipient.account}}</td>
        <td>{{t.status}}</td>
        <td>{{t.counted}}</td>

        <td>{{t.description}}</td>

    </tr>
    {% endfor %}
</table>
<form>
    {% csrf_token %}
    <button type="submit" class="btn btn-info" formaction="{% url 'bank:trans_dec_ok' meta %} " formmethod="POST">
        Отменить транзакции
    </button>
</form>

{% endblock %}