{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}

<!-- Display django.contrib.messages as Bootstrap alerts -->
{% bootstrap_messages %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "django_tables2/themes/paleblue/css/screen.css" %}>
    <link rel="stylesheet" href={% static "bank/style.css" %}>
    <title>Банк ЛФМШ</title>
</head>

<body>


<div class="row">
    <div class="col-xs-12">

        <h4> Сводка балансов по состоянию на {% now 'd число H:i' %}</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <i> <b>Детализация</b>: [Сумма заработанных денег:(доход от учебы + доход от мероприятий + доход от спорта +
            доход от работы)]</i>
    </div>
</div>
<div class="row">

    {% for acc in accounts_info %}
        {% if forloop.counter in markup.starttable %}
            <div class="col-xs-6">
            <h4>{{ acc.party }} Отряд</h4>
            <table class="table table-bordered table-condensed">
            <tr>
                <th>Пионер</th>
                <th>Баланс</th>
                <th>Детализация</th>
                <th>Серт. <span
                        class="glyphicon glyphicon-book"></span></th>

            </tr>
        {% endif %}
    <tr class="{{ acc.row_class }}">
        <td>{{ acc.name }}</td>
        <td><span class="{% if acc.is_best_balance %}bold{% endif %}">{{ acc.str_balance }}</span></td>

        <td> <span class="{% if acc.is_best_all %}bold{% endif %}">{{ acc.earned_all|floatformat:"0" }}</span>:<span class="{% if acc.is_best_studies %}bold{% endif %}">{{ acc.earned_studies|floatformat:"0" }}</span>+<span class="{% if acc.is_best_activity %}bold{% endif %}">{{ acc.earned_activity|floatformat:"0" }}</span>+<span class="{% if acc.is_best_sport %}bold{% endif %}">{{ acc.earned_sport|floatformat:"0" }}</span>+<span class="{% if acc.is_best_work %}bold{% endif %}">{{ acc.earned_work |floatformat:"0" }}</span></td>

        <td>{{ acc.counters.val.book_certificate }}<span
                class="glyphicon glyphicon-book"></span></td>
    </tr>

    {% if forloop.counter in markup.endtable %}
        </table>
        </div>
    {% endif %}


        {% if forloop.counter == markup.rowbreak %}
            </div>
            <div class="row">
    {% endif %}

    {% endfor %}
</div>
<div class="row">
    <div class="col-xs-12" style="font-size: 16px">

        Сумма денег у пионеров: {{ sum_money }}@ <br>
        Среднее значение: {{ mean_money }}@ <br>
        Среднеквадратичное отклонение: {{ st_dev}} <br>

    </div>
</div>
</body>