{% extends "bank/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-sm-3">
            <img src={% static avatar_url %} width="100%">
        </div>
        <div class="col-sm-9">

            <h3>{{ host.account.long_name }} </h3>

            {% if can_see_balance or can_see_counters %}
                <div class="row">
                    {% if can_see_balance or can_see_counters %}
                        <div class="col-sm-4">
                            <h3>Баланс: {{ host.account.get_balance }} {% if counters.val.book_certificate %},
                                Сертификаты:
                                {{ counters.val.book_certificate }} <span
                                        class="glyphicon glyphicon-book"></span> {% endif %}</h3>
                        </div>
                    {% endif %}


                    {% if can_see_balance or can_see_counters %}
                        {% include 'bank/counters.html' %}
                    {% endif %}

                </div>
            {% endif %}
        </div>
    </div>

    {% include 'bank/transaction_lists/transactions_tabs.html' %}
{% endblock %}
