
<table class="table table-bordered">
    <tr>
        <th>Создана</th>
        {% if not viewer_role == 'receiver' %}
            <th>Жертва</th>
        {% endif %}
        {% if not viewer_role == 'creator' %}
            <th>Автор</th>
        {% endif %}
        <th>Состояние</th>
        <th>Описание</th>
        <th>Тип</th>
        <th>Блок</th>
        <th>Дата</th>
    </tr>
    {% for counter in counters %}
        <tr>
            <td>{{ counter.get_creation_timestamp }}</td>
            {% if not viewer_role == 'receiver' %}
                <td>{{ counter.receiver.account.long_name }}</td>
            {% endif %}
            {% if not viewer_role == 'creator' %}
                <td>{{ counter.related_transaction.creator.account.long_name }}</td>
            {% endif %}
            <td>{{ counter.get_counted }}</td>
            <td>{{ counter.description }}</td>
            <td>{{ counter.type }}</td>
            <td>{{ counter.attendance_block }}</td>
            <td>{{ counter.get_date }}</td>

        </tr>
    {% endfor %}
</table>
