{% extends "bank/base.html" %}

{% block content %}


<h2>Здравствуйте, {{request.user.account.long_name}} </h2>
<br>
<h3> Ваш баланс: {{request.user.account.get_balance}} @</h3>

<br>

{% if in_trans %}
<h4> Ваши входящие транзакции</h4>

<table class="table">
    <tr>

        <th>Дата</th>
        <th>Сумма</th>
        <th>Автор</th>
        <th>Тип</th>
        <th>Описание</th>


    </tr>
    {% for t in in_trans %}


    {% if t.type.group1 = 'fee' %}
    <tr class="success">
    {% elif t.type.group1 = 'fine' %}
    <tr class="danger">
    {%else%}
    <tr class="warning">
    {% endif %}





        <td>{{t.get_creation_date}}</td>

        <td>{% if t.value > 0 %}+{% endif %}
            {{t.get_value}}@
        </td>
        <td>{{t.creator.account}}</td>
        <td>{{t.type}}</td>

        <td>{{t.description}}</td>
    </tr>

    {% endfor %}
</table>


{% else %}
<h5>Нет входящих транзакций</h5>
{% endif %}

{% if out_trans %}

<h4>Ваши транзакции</h4>

<table class="table table-striped">
    <tr>

        <th>Дата</th>
        <th>Сумма</th>
        <th>Получатель</th>
        <th>Описание</th>
        <th>Отмена</th>


    </tr>
    {% for t in out_trans %}

    {% if t.status.name == 'AD' %}
    <tr class="warning">
        {% endif%}


        {% if t.status.name != 'DA' and t.status.name != 'DC' %}
        {% if t.status.name = 'PR' %}
    <tr class="success">
        {% endif%}

        <td>{{t.get_creation_date}}</td>

        <td>{% if t.value > 0 %}
            +
            {% endif %}
            {{t.get_value}}@
        </td>
        <td>{{t.recipient.account}}</td>

        <td>{{t.description}}</td>

        <td>

            {% if t.can_be_declined and t.type.name != 'propen' %}
            <a class="btn btn-info" href="{% url 'bank:trans_dec' t.pk %}" role="button">Отменить</a>
            {% else %}
            <p> Нельзя отменить</p>
        </td>

    </tr>
    {% endif %}
    {% endif%}

    {% endfor %}
</table>


{% else %}
<h5>У Вас нет исходящих транзакций.</h5>
{% endif %}

{% if attends %}

<h4>Засчитаны  посещения</h4>

<table class='table table-striped' >
        <tr>
            <th>Посещение</th>
            <th>Дата и время</th>

        </tr>

    {% for a in attends %}
        <tr>

            <td>{{a.type.human_name}}</td>
            <td>{{a.get_value_as_date}}</td>

        </tr>

    {% endfor %}


</table>

{% endif %}

{% endblock %}
