{% extends "bank/base.html" %}

{% block content %}


<h3>{{request.user.account.long_name}} </h3>
<br>


<br>

{% if out_trans %}

<h4>Транзакции сделанные вами</h4>

<table class="table table-striped">
    <tr>

        <th>Дата</th>
        <th>Тип</th>
        <th>Сумма</th>
        <th>Получатель</th>
        <th>Статус</th>
        <th>Описание</th>
        <th>Отмена</th>


    </tr>
    {% for t in out_trans %}
    <tr>
        <td>{{t.get_creation_date}}</td>
        <td>{{t.type}}</td>

        <td>
            {% if t.type.group1 != 'attend' %}
            {% if t.value > 0 %}
            +
            {% endif %}
            {{t.get_value}}@
            {% else %}
            {{t.get_value_as_date}}
            {% endif%}


        </td>
        {% if t.recipient %}
        <td>{{t.recipient.account}}</td>
        {% else %}
        <td><a class="btn btn-info" href="{% url 'bank:meta_list' t.pk %}" role="button">Список</a></td>
        {% endif %}
        <td>{{t.status}}</td>

        <td>{{t.description}}</td>
        <td>
            {% if t.can_be_declined %}
            <a class="btn btn-danger" href="{% url 'bank:trans_dec' t.pk %}" role="button">Отменить</a>
            {% if not t.recipient %}
            <a class="btn btn-warning" href="{% url 'bank:trans_red' t.pk %}" role="button">Редактировать</a>
            {% endif %}
            {% else %}
            Нельзя отменить
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>У вас нет исходящих транзакций.</p>
{% endif %}

{% endblock %}
