{% extends "bank/base.html" %}

{% block content %}


    <h3>{{ request.user.account.long_name }} </h3>

    <ul class="nav nav-tabs">
        {% if created_transactions %}
            <li><a data-toggle="tab active" href="#created">Созданные транзакции</a></li>
        {% endif %}
        {% if received_money %}
            <li><a data-toggle="tab active" href="#money">Полученные деньги</a></li>
        {% endif %}
        {% if received_counters %}
            <li><a data-toggle="tab" href="#counters">Учтенные счетчики</a></li>
        {% endif %}
    </ul>

    <script type="text/javascript">

    </script>

    <div class="tab-content">
        {% if created_transactions %}

            <div id="created" class="tab-pane active">
                <h4>Созданные транзакции</h4>
                <table class="table table-striped">
                    <tr>

                    </tr>
                    {% for transaction in created_transactions %}
                        <tr>
                            <td>{{ transaction }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if received_money %}

            <div id="money" class="tab-pane active">
                <h4>Ваши Баксы</h4>
                <table class="table table-striped">
                    <tr>
                        <td>баксы</td>
                    </tr>
                    {% for money in received_money %}
                        <tr>
                            <td>
                                {{ money }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if received_counters %}

            <div id="counters" class="tab-pane">

                <h4>Ваши Счетчики</h4>
                <table class="table table-striped">
                    <tr>
                    </tr>
                    {% for counter in recieved_counters %}
                        <tr>
                            <td>
                                {{ counter }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}


    </div>

{% endblock %}
