{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}

<!-- Display django.contrib.messages as Bootstrap alerts -->
{% bootstrap_messages %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={% static "bank/icon.png" %}>
    <link rel="stylesheet" href={% static "django_tables2/themes/paleblue/css/screen.css" %}>
    <link rel="stylesheet" href={% static "bank/style.css" %}>
    <link rel="stylesheet" href={% static "bank/bootstrap-theme.css" %}>
    <script src  = "{% static 'bank/js/script.js' %}"></script>
    <title>Банк ЛФМШ</title>
</head>

<body>


<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bank:index' %}">Банк ЛФМШ</a>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

                {% if user.is_authenticated %}
                    <li><a href="{% url 'bank:index' %}">Домой</a></li>
                    <li><a href="{% url 'bank:my_transactions' %}">Мои транзакции</a></li>
                    <li><a href="{% url 'bank:media' %}">Файловый архив</a></li>
                    {% if 'bank.upload_self_files' in request.user.get_all_permissions %}
                    <li><a href="{% url 'bank:upload' %}">Загрузить файл</a></li>
                    {% endif %}
                {% endif %}


            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}
                    <li><p class="navbar-text">В системе как {{ request.user.account.short_name }}</p></li>
                    <li><a href="{% url 'bank:logout' %}?next={% url 'bank:index' %}">Выйти</a></li>
                {% else %}
                    <li><p class="navbar-text navbar-rigth">Вы не авторизированны в системе</p></li>
                    <li><a href="{% url 'bank:index' %}">Войти</a></li>
                {% endif %}


            </ul>


        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


</body>
