{% extends "bank/base.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="text-left">
            <h3> Здравствуйте, {{request.user.account.long_name}}</h3>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8 ">

<div class="row">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="text-left">
            <h3> Ваш баланс  {{request.user.account.get_balance}} @</h3>
        </div>
    </div>
</div>





<br>

<br>


<div class="row">
    <div class="col-sm-4 ">

<a href="{% url 'bank:my_trans' %}" class="btn btn-primary  btn-block " role="button"> Мои транзакции</a>
<br>
<br>
        </div>


    <div class="col-sm-4 ">

<a href="{% url 'bank:my_att' %}" class="btn btn-primary  btn-block " role="button"> Мои посещения</a>
<br>
<br>
        </div>
    <div class="col-sm-4 ">

{% if user.account.balance > 40 %}
<a href="{% url 'bank:add_p2p' %}" class="btn btn-primary  btn-block" role="button"> Личный перевод</a>
{% else %}

<button class="btn btn-primary btn-block " role="button" id="btnShow"> <span>Личный перевод</span></button>
        <br>


{%endif%}
</div>
    </div>
        <div class="alert alert-warning" role="alert" style="display:none">Личные переводы запрещены при балансе меньше {{p2p_buf}}@</div>



    </div>
        <div class="col-sm-4 ">


            <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Обязательная учебная программа</h3>
  </div>
  <div class="panel-body">

      <h5>Лабораторные работы:</h5>
      <div class="progress">
          <span class="progress-value"> {{request.user.account.lab_passed}}/{{request.user.account.lab_needed}}</span>

                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{request.user.account.lab_passed_w}}%;">

                </div>
            </div>

      {% if request.user.account.fac_needed %}
      <h5>Зачет по факультативу:</h5>

      <div class="progress">
                              <span class="progress-value"> {{request.user.account.fac_passed}}/{{request.user.account.fac_needed}}</span>

                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{request.user.account.fac_passed_w}}%;">

                </div>
            </div>

      {% endif %}
      <h5>Посещенные занятия обязательной учебной программы:</h5>

    <div class="progress">
                    <span class="progress-value">{{request.user.account.sem_fac_attend}}/{{request.user.account.sem_att_needed}}</span>

                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{request.user.account.sem_att_w}}%;">

                </div>
            </div>

      <h5>Прочтенные семинары:</h5>

    <div class="progress ">
            <span class="progress-value">{{request.user.account.sem_read}}/1</span>

                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{request.user.account.sem_read_w}}%;">

                </div>


            </div>



      {% if request.user.account.lec_missed != 0 %}
      <h5>Пропущено лекций: {{request.user.account.lec_missed}}</h5>
      <h5>Штраф за следующую пропущенную лекцию: {{lec_pen}}@</h5>
        {% endif %}
      <h5>Предполагаемый штраф за невыполнение обязательной учебной программы на текущий момент: {{request.user.account.get_penalty}}@</h5>
  </div>
</div>


        </div>
    </div>

<script>
$("#btnShow").click(function(){

  $(".alert").hide().show('medium');
});
</script>

{% endblock %}