{% extends "bank/base.html" %}

{% block content %}
    {% load staticfiles %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-0">
            <div class="text-left">
                <h3> Здравствуйте, {{ request.user.account.long_name }}</h3>
            </div>
        </div>
        {% if 'bank.see_self_balance' in request.user.get_all_permissions %}

            <div class="col-sm-6">
                <div class="text-left">
                    <h3> Ваш баланс:
                        {{ request.user.account.get_balance }}{% if counters.val.book_certificate %}, Сертификаты:
                            {{ counters.val.book_certificate }} <span
                                    class="glyphicon glyphicon-book"></span> {% endif %}</h3>
                </div>
            </div>
        {% endif %}
    </div>



    <!-- self transactions  -->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            {% if 'bank.see_self_received_transactions' in request.user.get_all_permissions or 'bank.see_self_created_transactions' in request.user.get_all_permissions %}

                <h4> Списки транзакций </h4>
                <a href="{% url 'bank:my_transactions' %}"> Мои транзакции</a><br>

                {% if st_stats.created_students_len %}
                    <a href="{% url 'bank:manage' 'student' %}">Пионерские личные
                        транзакции <span class="badge">{{ st_stats.created_students_len }}</span></a><br>
                {% endif %}

                {% if st_stats.created_staff_len %}
                    <a href="{% url 'bank:manage' 'staff' %}">Педсоставские
                        транзакции <span class="badge">{{ st_stats.created_staff_len }}</span></a><br>
                {% endif %}

                {% if 'bank.see_student_balance' in request.user.get_all_permissions or 'bank.see_staff_balance' in request.user.get_all_permissions %}

                    <h4> Списки пользователей </h4>
                    {% if 'bank.see_student_balance' in request.user.get_all_permissions %}
                        <a href="{% url 'bank:students' %}"> Пионеры</a><br>
                    {% endif %}
                    {% if 'bank.see_staff_balance' in request.user.get_all_permissions %}
                        <a href="{% url 'bank:staff' %}"> Педсостав</a>
                    {% endif %}
                {% endif %}

                {% if 'bank.see_student_balance' in request.user.get_all_permissions %}
                    <h4>Статистика</h4>
                    Суммарные деньги пионеров: {{ st_stats.sum_money }} @<br>
                    Средний баланс: {{ st_stats.mean_money }}<br>
                    <a href="{% url 'bank:report' %}" target="_blank"> Сгенерировать репорт</a><br>
                    <a href="{% url 'bank:study_stats' %}" target="_blank"> Сгенерировать Учебную Стату</a><br>
                {% endif %}
                {% if 'bank.see_staff_created_transactions' in request.user.get_all_permissions %}
                    <a href="{% url 'bank:monitor_table' %}"> Сводка транзакций</a><br>
                {% endif %}


                </div>
            {% endif %}


        <!-- add transaction-->

        <div class="col-sm-6 col-md-4">
            <h4> Добавить транзакцию </h4>
            {% for transaction_type in transaction_type_info %}
                {% if transaction_type.can_create %}
                    <a href="{% url 'bank:add_transaction' transaction_type.name %}">
                        {{ transaction_type.readable_name }} </a><br>
                {% endif %}
            {% endfor %}
        </div>

        {% if 'bank.see_self_attendance' in request.user.get_all_permissions %}
            {% include 'bank/counters.html' %}
        {% endif %}
    </div>








{% endblock %}
