{% extends "bank/base.html" %}

{% block content %}


    <h3>Страница {{ host.account.long_name }} </h3>

    {% if can_see_balance or can_see_counters %}
        <div class="row">
            {% if can_see_balance or can_see_counters %}
                <div class="col-sm-6"> Балланс {{ host.account.get_balance }}</div>
            {% endif %}

            {% if can_see_balance or can_see_counters %}
                <div class="col-sm-6"> {% include 'bank/counters.html' %}</div>
            {% endif %}

        </div>
    {% endif %}
    {% include 'bank/transaction_lists/transactions_tabs.html' %}
{% endblock %}
