{% extends "bank/base.html" %}

{% block content %}


    <h3>Подтверждение транзакций</h3>


    <div class="row">
        <div class="col-sm-12">


            <table class="table">
                <tr>
                    <th>Дата</th>
                    <th>Aвтор</th>
                    <th>Тип</th>
                    <th>Расходы</th>
                    <th>Статус</th>
                    <th>Действия</th>

                </tr>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.get_creation_timestamp }}</td>
                        <td>{{ transaction.creator.account.name_with_balance }}</td>
                        <td>
                            <a onclick="$('#trans-info-{{ transaction.id }}').toggle()">{{ transaction.type }}</a>
                        </td>
                        <td>{{ transaction.money_count_string }}</td>
                        <td>{{ transaction.state }}</td>
                        <td>
                            {% if can_process %}
                                <a class="btn btn-success"
                                   href="{% url 'bank:manage_process' user_group transaction.id %}">
                                    Разрешить</a>
                            {% endif %}
                            {% if can_decline %}

                                <a class="btn btn-warning"
                                   href="{% url 'bank:manage_decline' user_group transaction.id %}">
                                    Запретить</a>
                            {% endif %}

                        </td>

                    </tr>
                    <tr style="display: none" id="trans-info-{{ transaction.id }}">
                        <td colspan="6"> {% include 'bank/transaction_lists/transaction.html' with  viewer_role='creator' %} </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
