<ul class="nav nav-tabs">
    {% if created_transactions %}
        <li><a data-toggle="tab" href="#created">Созданные транзакции</a></li>
    {% endif %}
    {% if received_money %}
        <li><a data-toggle="tab" href="#money">Полученные деньги</a></li>
    {% endif %}
    {% if received_counters %}
        <li><a data-toggle="tab" href="#counters">Учтенные счетчики</a></li>
    {% endif %}
</ul>

<div class="tab-content">
    {% if created_transactions %}
        <!-- ugly place to activate tab if no received_money present-->
        {% if not received_money %}
            <div id="created" class="tab-pane active">
        {% else %}
            <div id="created" class="tab-pane">
        {% endif %}
    <h4>Созданные транзакции</h4>
    <table class="table">
        <tr>
            <th>Дата</th>
            <th>Тип</th>
            <th>Расходы</th>
            <th>Жертв</th>
            <th>Статус</th>
            <th>Действия</th>

        </tr>
        {% for transaction_info in created_transactions %}
            <tr>
                <td>{{ transaction_info.transaction.get_creation_timestamp }}</td>
                <td>
                    <a onclick="showTransaction({{ transaction_info.transaction.id }}, 'creator')">{{ transaction_info.transaction.type }}</a>
                </td>
                <td>{{ transaction_info.transaction.money_count_string }}</td>
                <td>{{ transaction_info.transaction.receivers_count }}</td>
                <td>{{ transaction_info.transaction.state }}</td>
                <td>
                    {% if transaction_info.decline %}
                        <a class="btn btn-danger"
                           href="{% url 'bank:decline' transaction_info.transaction.id %}">
                            Откатить</a>
                    {% endif %}
                    {% if transaction_info.update %}
                        <a class="btn btn-warning"
                           href="{% url 'bank:update_transaction' transaction_info.transaction.type.name transaction_info.transaction.id %}">
                            Изменить</a>
                    {% endif %}
                    {% if transaction_info.create %}
                        <a class="btn btn-info"
                           href="{% url 'bank:add_transaction_from_template' transaction_info.transaction.type.name transaction_info.transaction.id %}">По
                            шаблону</a>
                    {% endif %}
                </td>

            </tr>
            <tr style="display: none" id="trans-info-{{ transaction_info.transaction.id }}" loaded = "false">
                <td colspan="6">{#% include 'bank/transaction_lists/transaction.html' with transaction=transaction_info.transaction viewer_role='creator'%#}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}

    {% if received_money %}
        <div id="money" class="tab-pane active">

            <h4>Баксы</h4>
            {% include 'bank/transaction_lists/money_table.html' with moneys=received_money  viewer_role='receiver'%}

        </div>
    {% endif %}
    {% if received_counters %}
        <div id="counters" class="tab-pane">
            <h4>Счетчики</h4>
            {% include 'bank/transaction_lists/counters_table.html' with counters=received_counters  viewer_role='receiver'%}
        </div>
    {% endif %}


    </div>
