{% extends 'bank/base.html' %}

    {% block content %}

{% load bootstrap3 %}
{% load render_table from django_tables2 %}


<h1>Начисление за семинар</h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
    <h3 class="panel-title">Семинар</h3>
                </div>
                <div class="row">
    <div class="col-sm-12 ">
         <div class="container-fluid">
            {% bootstrap_field form.recipient %}
</div></div></div>
            <div class="row">
    <div class="col-sm-12 ">
         <div class="container-fluid">
            {% bootstrap_field form.description %}
</div></div></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
    <h3 class="panel-title">Дата и время</h3>
                </div>
                <div class="row">
    <div class="col-sm-6 ">
         <div class="container-fluid">
                    <h5>Дата</h5>
{% bootstrap_field form.date show_label=False %}
             </div>
        </div>
        <div class="col-sm-6 ">
            <div class="container-fluid">
                    <h5>Блок семинаров</h5>
            <div class="btn-group"  role="group" data-toggle="buttons" aria-label="asdf">
                <label class="btn btn-default">
                    <input type="radio" name="block" value="1" autocomplete="off" required> Первый
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="block" value="2" autocomplete="off"> Второй
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="block" value="3" autocomplete="off"> Третий
                </label>

                </div>
                    </div>
        </div>
        </div>
                    </div>

            <div class="panel panel-default">
                <div class="panel-heading">
    <h3 class="panel-title">Оценка</h3>
                </div>
                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>Соответствует ли содержание заявленной теме ?</h5>
            <div class="btn-group"  role="group" data-toggle="buttons" aria-label="asdf">
                <label class="btn btn-default">
                    <input type="radio" name="m1" value="-1" autocomplete="off" required> Нет
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m1" value="0" autocomplete="off"> Не совсем
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m1" value="1" autocomplete="off"> Да
                </label>
                </div>
                    </div>
        </div>
                    </div>

<div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>Степень ознакомленности рассказчика с темой семинара, степень понимания материала:</h5>
            <div class="btn-group"  role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m2" value="-1" autocomplete="off" required> Отсутствует
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m2" value="0" autocomplete="off"> Поверхностная
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m2" value="1" autocomplete="off"> Средняя
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m2" value="2" autocomplete="off"> Хорошая
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m2" value="3" autocomplete="off"> Высокая
                </label>
                </div>
                    </div>
        </div>
                    </div>

                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>Последовательность и логичность изложения:</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m3" value="-1" autocomplete="off" required> Отсутствует
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m3" value="0" autocomplete="off"> Прослеживается с трудом
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m3" value="1" autocomplete="off"> прослеживается, но существуют явные недочеты
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m3" value="2" autocomplete="off"> Явных недочетов нет
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m3" value="3" autocomplete="off"> Недочетов нет вовсе
                </label>
                </div>
                    </div>
        </div>
                    </div>

                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>4. Степень того, насколько рассказчик раскрыл тему, наличие интересных фактов:</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m4" value="-1" autocomplete="off" required> Тема не раскрыта
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m4" value="0" autocomplete="off"> тема раскрыта не полностью
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m4" value="1" autocomplete="off"> тема раскрыта не полностью, но присутствуют интересные и необычные факты
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m4" value="2" autocomplete="off"> тема раскрыта
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m4" value="3" autocomplete="off"> тема раскрыта, интересные и необычные факты присутствуют
                </label>
                </div>
                    </div>
        </div>
                    </div>


                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>Считаете ли Вы, что докладчик продемонстрировал неординарные ораторские способности?</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m5" value="0" autocomplete="off" required> Нет
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m5" value="1" autocomplete="off"> Да
                </label>

                    </div>
        </div>
                    </div>                    </div>



                        <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5>Наличие иллюстирующего материала:</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m6" value="0" autocomplete="off" required> Отсутствует
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m6" value="1" autocomplete="off"> Присутствует (презантация, иллюстрации и.т.п.)
                </label>

                    </div>
        </div>
                    </div>
                    </div>

                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5> Можете ли Вы отметить что-то необычное в форме проведения семинара?</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m7" value="0" autocomplete="off" required> Нет или почти нет
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m7" value="1" autocomplete="off"> Да
                </label>

                    </div>
        </div>
                    </div>
                    </div>
                  <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5> Вызвал ли семинар обсуждение среди слушателей?</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m8" value="0" autocomplete="off" required> Нет или почти нет
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m8" value="1" autocomplete="off"> Непродолжительное
                </label>
<label class="btn btn-default">
                     <input type="radio" name="m8" value="2" autocomplete="off"> Продолжительное
                </label>

                    </div>
        </div>
                    </div>
                    </div>


                   <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">
                    <h5> Можете просто как куратор семинара накинуть от 0 до 3х баллов</h5>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="m9" value="0" autocomplete="off" required> 0
                </label>
                <label class="btn btn-default">
                     <input type="radio" name="m9" value="1" autocomplete="off"> 1
                </label>
<label class="btn btn-default">
                     <input type="radio" name="m9" value="2" autocomplete="off"> 2
                </label>
                </label>
<label class="btn btn-default">
                     <input type="radio" name="m9" value="2" autocomplete="off"> 3
                </label>

                    </div>
        </div>
                    </div>
                    </div>
<br>
                <div class="row">
    <div class="col-sm-12 ">
                <div class="container-fluid">

                    </div>
                    </div>
                    </div>
                </div>

            <div class="panel panel-default">
                <div class="panel-heading">
    <h3 class="panel-title">Слушатели</h3>
                </div>


<div class="row">
    {% include table_html with otr_name='Первый'  t=table.0 %}
    {% include table_html with otr_name='Второй'  t=table.1 %}

    {% include table_html with otr_name='Третий'  t=table.2 %}
    {% include table_html with otr_name='Четвертый'  t=table.3%}
</div>




            </div>

                {% buttons submit='OK' reset="Очистить" %}{% endbuttons %}
        </form>
    {% endblock %}