.progress {
    text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
}

.bold{
    font-weight:bold;
}

@media print {
    .my-success > td {
        background-color: #dff0d8 !important;
        -webkit-print-color-adjust: exact;

    }
    .my-warning > td {
        background-color: #fcf8e3 !important;
        -webkit-print-color-adjust: exact;

    }
    .my-danger > td {
        background-color: #f2dede !important;
        -webkit-print-color-adjust: exact;

    }
}

.my-success > td {
    background-color: #dff0d8;
}
.my-danger > td {
    background-color: #f2dede;
}
.my-warning > td {
    background-color: #fcf8e3;
}

.green{
    color: forestgreen;
}
.red{
    color: mediumvioletred;
}
