.progress {
    text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
}

.bold{
    font-weight:bold;
}


.table > tbody > tr.success > td{

   background-color: #dff0d8;
}
