{% extends "bank/base.html" %}

{% block content %}

    <h3>Педсостав</h3>
    <table class='table table-striped'>
        <tr>
            <th>Представитель</th>
            {% if can_see_balance %}
                <th>Баланс</th>
            {% endif %}
        </tr>
        {% for u in staff %}
            <tr>
                <td><a href="{% url 'bank:user' u.username%}">{{ u.account.long_name }}</a></td>
                {% if can_see_balance %}
                    <td>{{ u.account.get_balance }}</td>
                {% endif %}
            </tr>

        {% endfor %}
    </table>


{% endblock %}