{% extends "bank/add/all_students_with_check.html" %}


{% block before_table %}
    {% load bootstrap3 %}

    <div class="row">
        <div class="col-sm-6">
            {% bootstrap_field formset.forms.0.description %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field formset.forms.0.date %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field formset.forms.0.receiver %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field formset.forms.0.block %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Оценка</h3>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                 {% bootstrap_field  formset.forms.0.content_quality %}
            </div>
            <div class="col-sm-12 col-lg-6">

                 {% bootstrap_field  formset.forms.0.knowledge_quality %}
            </div>
            <div class="col-sm-12 col-lg-6">
                 {% bootstrap_field  formset.forms.0.presentation_quality %}
            </div>
            <div class="col-sm-12 col-lg-6">

                 {% bootstrap_field  formset.forms.0.presentation_quality_2 %}
            </div>
            <div class="col-sm-12 col-lg-6">

                 {% bootstrap_field  formset.forms.0.presentation_quality_3 %}
            </div>
            <div class="col-sm-12 col-lg-6">
                 {% bootstrap_field  formset.forms.0.materials %}
            </div>
            <div class="col-sm-12 col-lg-6">
                 {% bootstrap_field formset.forms.0.unusual_things %}
            </div>
            <div class="col-sm-12 col-lg-6">
                {% bootstrap_field formset.forms.0.discussion %}
            </div>
            <div class="col-sm-12 col-lg-6">
                {% bootstrap_field formset.forms.0.general_quality %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}


{% block headers_row %}
    <tr>
        <th>Пионер</th>
        <th>Посетил</th>
    </tr>
{% endblock %}


{% block hidden_fields %}

            {% if not forloop.counter0 == 0 %}
                {{ form.description.as_hidden }}{{ form.content_quality.as_hidden }}
                {{ form.knowledge_quality.as_hidden }}{{ form.presentation_quality.as_hidden }}
                {{ form.presentation_quality_2.as_hidden }}{{ form.presentation_quality_3.as_hidden }}
                {{ form.materials.as_hidden }}{{ form.discussion.as_hidden }}{{ form.unusual_things.as_hidden }}
                {{ form.date.as_hidden }}{{ form.receiver.as_hidden }}{{ form.block.as_hidden }}{{ form.general_quality.as_hidden }}

            {% endif %}
            {{ form.student_name.as_hidden }}{{ form.student_party.as_hidden }}
            {{ form.receiver_username.as_hidden }}{{ form.creator_username.as_hidden }}


{% endblock %}