{% extends "bank/add/all_students_with_check.html" %}



{% block before_table %}
    {% load bootstrap3 %}

    <div class="row">
        <div class="col-sm-6">
            {% bootstrap_field formset.forms.0.description %}
        </div>
    <div class="col-sm-6">
        {% bootstrap_field formset.forms.0.money_type %}
    </div>    </div>

{% endblock %}

{% block hidden_fields %}

            {% if not forloop.counter0 == 0 %}
                {{ form.description.as_hidden }}
                {{ form.money_type.as_hidden }}

            {% endif %}
            {{ form.student_name.as_hidden }}{{ form.student_party.as_hidden }}
            {{ form.receiver_username.as_hidden }}{{ form.creator_username.as_hidden }}

{% endblock %}